<h1 class= "title">CONVERSIONTRON</h1>

<div class= "converter">
	<form class= "form" action="/" method="post">
		<input type="text" name="input" class= "input">
		<select name= "conversion" class= "select" id= "conversion">
			<option value= "">Conversion</option>
			<option value= "ftoc">Farenheit to Celsius</option>
			<option value= "ctof">Celsius to Farenheit</option>
			<option value= "mtok">Miles to Kilometers</option>
			<option value= "ktom">Kilometers to Miles</option>
			<option value= "pounds">Pounds</option>
			<option value= "kilos">Kilograms</option>
			<option value= "stone">Stone</option>
		</select>
		<select name= "pks" class= "select" id= "weightUnits">
			<option value= " ">Weight</option>
			<option value= "pounds" id= "weightUnits__p">to Pounds</option>
			<option value= "kilos" id= "weightUnits__k">to Kilograms</option>
			<option value= "stone" id= "weightUnits__s">to Stone</option>
		</select>
		<input type="submit" name="submit" class= "submit" value="CONVERTILIZE!">
	</form>

	<% if @conversion %>
		<div class= "output"><%= @conversion.result %></div>
	<% end %>
</div>


